<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WebSite.com</title>
	<meta name="description" content="Cardio is a free one page template made by Arvanit Grainca" />
	<meta name="keywords" content="html template, css, free, Dashboard, web design" />
	<meta name="author" content="Arvanit Grainca" />
	<!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/favicons/apple-touch-icon-57x57.png')}}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/favicons/apple-touch-icon-60x60.png')}}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png')}}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png')}}" sizes="16x16">
	<link rel="manifest" href="img/favicons/manifest.json">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicons/favicon.ico') }}">
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="{{ url_for('static', filename='img/favicons/browserconfig.xml') }}">
	<meta name="theme-color" content="#ffffff">
	<!-- Bootstrap -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css.map') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css.map') }}">			
	<!-- Animate.css -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Font Awesome -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fonts/font-awesome-4.1.0/css/font-awesome.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='fonts/eleganticons/et-icons.css') }}">
	<!-- Custom Icons -->	
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">	
</head>
	<div class="preloader">
		<img src="{{ url_for('static', filename='img/loader.gif') }}" alt="Preloader image">
	</div>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">WebSite.com</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <li><a href="/">Home</a></li>
                <li><a href="#">About me</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="#">Photos</a></li>
            </ul>
            </li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    
    <div class="row">      
        <div class="col-sm-6 col-sm-offset-3">
            <div class="col-sm-12">
                <h1 class="text-center">{% block page %}{% endblock %}</h1>
                <hr>
            </div>              
                {% block content %}
                 {% endblock %}
        </div>
    </div>
	<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/typewriter.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.onepagenav.js')}}"></script>
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>    
</body>